<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/easyui/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="../static/easyui/themes/icon.css"/>
    <script src="../static/jquery.min.js" type="text/javascript"></script>
    <script src="../static/easyui/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="../static/easyui/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
</head>
<body>

<h1>easyui</h1>

</body>
</html>